<h1>Currency exchange rates</h1>

<h2 id="currencyfrom-name"></h2>
<h2 id="currencyto-name"></h2>
<h2 id="exchangerate"></h2>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/javascripts/index-currencies.js"></script>